header{
    display: grid;
    padding-inline: 2.2rem ;
    background-image: url(./../images/mobile/image-header.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.sunnyside-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: end;
    padding-block-start: 3.2rem;
}
.logo-sunnyside{
    width: 12.3rem;
    height: 2.4rem;
}
/*sunnyside-hero*/
.sunnyside-hero{
    text-align: center;
    font: var(--headLine1);
}
.sunnyside-hero-title h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-block-start: 8.8rem;
}

.sunnyside-hero img{
    padding-block-start: 5.2rem;
    padding-block-end: 12rem;
}
header nav{
    display: none;
}
@media (min-width: 900px) and (max-width: 1199px){
    header{
        background-image: url(./../images/desktop/image-header.jpg);
        padding-block-start: 3.4em;
    }
    .sunnyside-hero{
        height: auto;
        text-align: center;
        font-weight: 900;
        font-size: 5.6rem;
        line-height: 13rem;
        font-family: var(--fontSecondary);
    }
}
/*Responsive design -> Desktop*/
@media screen and (min-width: 1200px){
    header{
        background-image: url(./../images/desktop/image-header.jpg);
        padding-block-start: 3.4em;
        padding-inline: 4rem ;

    }
    .header-menu{
        display: none;
    }

    header nav{
        display: block;

    }

    .menu ul{
        display: flex;
        flex-direction: row;
        gap: 4.7rem;
        list-style: none;
        align-items: center;
    }
    .menu ul li a{
        text-decoration: none;
        font: var(--body1);
        color: white;
    }
    .menu ul li a.btn-contact{
        color: var(--gray);
        text-transform: uppercase;
        font-family: var(--fontSecondary);
    }
    .menu ul li:last-child:hover a{
        color: white;
    }

    .logo-sunnyside{
        width: 17rem;
        height: 3.3rem;
    }
    .sunnyside-hero h1{

        padding-block-start: 19.5rem;
    }
    .sunnyside-header{
        display: flex;
        justify-content: space-between;
    }
    .btn-contact{
        background-color: white;
        border:none;
        color: black;
        border-radius: 2.8rem;
        padding-block: 1.6rem;
        padding-inline: 3.2rem;
    }
    .btn-contact:hover{
        background-color: var(--desatured-cyan);
    }

}

