
@import url(./header.css);

:root{
    --fontBase: 'Barlow', sans-serif;
    --fontSecondary :'Fraunces', serif;
    --headLine1 : 900 24px/5rem var(--fontSecondary);
    --body1: 600 1.8rem/3rem var(--fontBase);
    --gray: #24303E;
    --desatured-cyan :  #77CDF5;
}

@media screen and (min-width: 900px){
    :root{
        --headLine1 : 900 5rem/6rem var(--fontSecondary);
        --body1: 600 1.8rem/3rem var(--fontBase);
    }
}

*,
*::after,
*::before{
    margin : 0;
    box-sizing: inherit;

}
html{
    font-size: 10px;
}